package {{ package_name }};

{% for import in imports %}
import {{ import }};
{% endfor %}

/**
 * {{ controller_name }} REST Controller
 * REST API endpoints for {{ entity_name }} operations
 */
{% for annotation in class_annotations %}
{{ annotation }}
{% endfor %}
public class {{ controller_name }} {

    private final {{ service_name }} {{ entity_name | snake_case }}Service;

    /**
     * Constructor injection for {{ service_name }}
     */
    @Autowired
    public {{ controller_name }}({{ service_name }} {{ entity_name | snake_case }}Service) {
        this.{{ entity_name | snake_case }}Service = {{ entity_name | snake_case }}Service;
    }

{% for endpoint in crud_endpoints %}
    /**
     * {{ endpoint.name }}
     * {% for param in endpoint.parameters %}
     * @param {{ param.name }} {{ param.type }}
     * {% endfor %}
     * @return {{ endpoint.return_type }}
     */
    {% for annotation in endpoint.annotations %}
    {{ annotation }}
    {% endfor %}
    public {{ endpoint.return_type }} {{ endpoint.name }}({% for param in endpoint.parameters %}{{ param.annotation }} {{ param.type }} {{ param.name }}{% if not loop.last %}, {% endif %}{% endfor %}) {
        try {
            {{ endpoint.implementation }}
        } catch (Exception e) {
            // Log error and return appropriate response
            return ResponseEntity.status(HttpStatus.INTERNAL_SERVER_ERROR).build();
        }
    }

{% endfor %}
{% for endpoint in custom_endpoints %}
    /**
     * {{ endpoint.name }}
     * {% for param in endpoint.parameters %}
     * @param {{ param.name }} {{ param.type }}
     * {% endfor %}
     * @return {{ endpoint.return_type }}
     */
    {% for annotation in endpoint.annotations %}
    {{ annotation }}
    {% endfor %}
    public {{ endpoint.return_type }} {{ endpoint.name }}({% for param in endpoint.parameters %}{{ param.annotation }} {{ param.type }} {{ param.name }}{% if not loop.last %}, {% endif %}{% endfor %}) {
        try {
            {{ endpoint.implementation }}
        } catch (Exception e) {
            return ResponseEntity.status(HttpStatus.INTERNAL_SERVER_ERROR).build();
        }
    }

{% endfor %}
{% for endpoint in search_endpoints %}
    /**
     * {{ endpoint.name }}
     * {% for param in endpoint.parameters %}
     * @param {{ param.name }} {{ param.type }}
     * {% endfor %}
     * @return {{ endpoint.return_type }}
     */
    {% for annotation in endpoint.annotations %}
    {{ annotation }}
    {% endfor %}
    public {{ endpoint.return_type }} {{ endpoint.name }}({% for param in endpoint.parameters %}{{ param.annotation }} {{ param.type }} {{ param.name }}{% if not loop.last %}, {% endif %}{% endfor %}) {
        try {
            {{ endpoint.implementation }}
        } catch (Exception e) {
            return ResponseEntity.status(HttpStatus.INTERNAL_SERVER_ERROR).build();
        }
    }

{% endfor %}
    // Exception Handlers
{% for handler in exception_handlers %}
    /**
     * Handle {{ handler.exception }}
     * @param ex {{ handler.exception }}
     * @return {{ handler.return_type }}
     */
    @ExceptionHandler({{ handler.exception }}.class)
    @ResponseStatus({{ handler.response_status }})
    public {{ handler.return_type }} {{ handler.method_name }}({{ handler.exception }} ex) {
        {{ handler.implementation }}
    }

{% endfor %}
}
