Django
djangorestframework
drf-nested-routers
django-cors-headers
drf-spectacular
django-filter

channels
channels-redis
websockets

psycopg2-binary
redis
django-redis

django-ratelimit
django-environ

pytz
jsonschema
pydantic
dnspython

pytest
pytest-django
pytest-asyncio
factory-boy
coverage

gunicorn
whitenoise
pyotp
requests
uvicorn
daphne

openai
tiktoken
python-dotenv
python-dateutil
Pillow

boto3==1.34.162
botocore==1.34.162