Django
djangorestframework
drf-nested-routers
django-cors-headers
drf-spectacular
django-filter

channels
channels-redis
websockets

psycopg2-binary
redis
django-redis

django-ratelimit
django-environ

pytz
jsonschema
pydantic
dnspython

pytest
pytest-django
pytest-asyncio
factory-boy
coverage

gunicorn
whitenoise
pyotp
requests
uvicorn
daphne

openai
tiktoken
python-dotenv
python-dateutil
Pillow

pytesseract==0.3.10
easyocr==1.7.0
opencv-python==4.8.1.78
ultralytics==8.0.196
numpy==1.24.3